.main-container
{
    width:calc(100% - 80px);
    height:calc(100vh - 80px)
}

/* Page header */

.page-header
{
    height:80px;
}

.logo-small
{
    height:50px;
}

.logo 
{
    height:30px;
}

.fa-bell
{
    color:orange;
}

.searchbar
{
    background-color:#E5E5E5;
}

.search-button
{
    margin-right:-40px;
    z-index:1;
}

.page-header .navbar-collapse
{
    margin-right:-40px;
}

.dropstart .dropdown-toggle::before
{
    display:none;
}

.dropstart .dropdown-menu[data-bs-popper]
{
    top:30px;
    left:-150px;
}

/* Sidebar */

.sidebar
{
    flex-basis:80px;
    background-color:#051E34;
    height:calc(100vh - 80px);
    background-image:url('../img/sidebar-bg.png')
}

/* Main header */

.main-header
{
    height:300px;
    width:100%;
    background-color:#1B72E8;
}

.add-student
{
    width:40px;
    height:40px;
    line-height:32px;
}

.main-header .badge
{
    background-color:#165BBA;
}

/* Main */

main
{
    height:calc(100% - 300px);
    overflow:auto;
}

/* Classes */

.class-avatar
{
    height:40px;
}

/* Responsive */

@media screen and (min-width: 768px)
{
    .main-header
    {
        height:150px;
    }

    main 
    {
        height:calc(100% - 150px);
    }
}

@media screen and (min-width: 1200px)
{
    .sidebar 
    {
        flex-basis:150px;
    }

    .main-container 
    {
        width:calc(100% - 150px);
    }

    .main-header
    {
        height:120px;
    }

    main 
    {
        height:calc(100% - 120px);
    }

    .page-header .navbar-collapse
    {
        margin-right:0px;
    }

    .header-label
    {
        font-size:12px;
    }
}